@import 'variables';
@import 'mixins';

.excel__table {
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: auto;
    padding-bottom: 4px;

    & .row {
        display: flex;
        flex-direction: row;
        min-height: $row-height;
        height: $row-height;
    }

    & .row-info {
        @include center();
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $border-color;
        background-color: #f8f9fa;
        border-top: none;
        position: relative;
        @include unselectable;
    }

    & .row-data {
        display: flex;
    }

    & .column {
        @include center();
        background-color: #f8f9fa;
        min-width: 40px;
        height: 100%;
        width: $cell-width;
        border: 1px solid $border-color;
        border-top: 0;
        border-left: 0;
        position: relative;
        z-index: 10;

        @include unselectable;
    }

    & .cell {
        min-width: 40px;
        padding: 5px;
        width: $cell-width;
        height: 100%;
        border: 1px solid #e2e3e3;
        border-top: 0;
        border-left: 0;
        color: #111;
        white-space: nowrap;
        outline: none;
        position: relative;

        &.selected {
            border: none;
            outline: 2px solid #3c74ff;
            z-index: 2;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 6px;
                height: 6px;
                background-color: #3c74ff;
                transform: translateX(50%) translateY(50%);
                cursor: nwse-resize;
            }
        }
    }

    .col-resize,
    .row-resize {
        position: absolute;
        opacity: 0;
        z-index: 100000;
        background-color: blue;

        &::after {
            position: absolute;
            content: '';
            background-color: blue;
            opacity: 0;
        }

        &:active::after,
        &:hover {
            opacity: 1 !important;
        }
    }

    .col-resize {
        right: 0;
        height: $row-height;
        width: 5px;
        cursor: ew-resize;

        &::after {
            top: 0;
            right: 1.5px;
            width: 1px;
            height: 100vh;
        }
    }

    .row-resize {
        width: 100%;
        height: 5px;
        cursor: ns-resize;
        bottom: -1px;

        &::after {
            bottom: 1.5px;
            width: 100vw;
            height: 1px;
        }
    }
}
